# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# VS Code
.vscode/

# Claude Code
.claude/

# Mac
.DS_Store

# Maven
log/
target/

# Scripts
scripts/*.mv
scripts/*.mv.db

# Logs
logs/*.log
logs/*.log.*
logs/*.log.*.lck
logs/*.log.lck

# Setup
setup/dragonbot-setup.exe
setup/dragonbot.exe