# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Scripts
scripts/*.mv
scripts/*.mv.db

# Logs
logs/*.log
logs/*.log.1
logs/*.log.lck

# Setup
character.xml
setup/dragonbot-setup.exe
setup/dragonbot.exe